<article class="post">
    <div class="title">
        <a href="/{{ routeAddition }}/{{ id }}" class="post-title">{{ title }}</a>
        <span>(Posted {{format_date created_at}} by </span><span class="username">{{ user.username }}</span><span>)</span>
    </div>
</article>