<div>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <div>
        <span>Posted by {{ post.user.username }}</span><span> on {{ post.created_at }}</span>
    </div>
</div>
{{#if loggedIn}}
<div>
    <h3>What do you think?!?</h3>
    <form id="add-comment">
        <input type="hidden" value="{{ post.id }}" name="post_id" id="post_id" />
        <input type="hidden" value="{{ user_id }}" name="user_id" id="user_id" />
        <textarea id="comment_text" name="comment_text" placeholder="What do you think?!?"></textarea>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
{{/if}}
<div>
    {{#each post.comments as |comment| }}
        {{> comments-display comment }}
    {{/each}}
</div>
{{#if loggedIn}}
<script src="/javascript/postComment.js"></script>
{{/if}}